<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>

</head>
<body>
<script>
    function send() {
    let object = {
        "code": document.getElementById("code_snippet").value,
        "views": parseInt(document.getElementById("views_restriction").value,10),
        "time": parseInt(document.getElementById("time_restriction").value)
    };

    let json = JSON.stringify(object);

    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/api/code/new', false)
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.send(json);


    if (xhr.status == 200) {
      alert("Success!");
    }
}

</script>
<textarea id="code_snippet"></textarea>
<br>
<button id="send_snippet" type="submit" onclick="send()" >submit</button>

<p>Enter number of avaliable views(if no limit -> 0)</p>
<input id="views_restriction" type="text" value="0"/>

<p>Enter amount of time of existing in seconds(if no limit -> 0)</p>
<input id="time_restriction" type="text" value="0"/>

</body>
</html>